## Az eredményeket mentsd a src/weekly modul-ba weekly_test_5.py néven

#### Használható modulok: pandas, typing, matplotlib, random, src.utils, src.weekly, str

In [1]:
from pathlib import Path

file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')

In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
"""
1., Olvasd be a data mappa chipotle.tsv nevű fájlját egy dataframe-be. A betöltött   adatokat food nevű változóban mentse. A következő feladatokban a kiinduló fájlt csak akkor írd felül, ha jelezve van.
"""

'\n1., Olvasd be a data mappa chipotle.tsv nevű fájlját egy dataframe-be. A betöltött   adatokat food nevű változóban mentse. A következő feladatokban a kiinduló fájlt csak akkor írd felül, ha jelezve van.\n'

In [31]:
food = pd.read_csv(file_to_load, sep='\t')
food.info()

food.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
"""
2., Készts egy függvényt, ami a bemeneti adattömbben átalakítja az item_price értékeit float-ra. Az eredeti adatokat a függvény ne módosítsa. A kapott, tisztított adatokkal írd felül a food változót.

függvény név: change_price_to_float
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [32]:
def change_price_to_float(input_df):
    new_df = input_df.copy()
    new_df['item_price'] = [float(x[1:]) for x in new_df['item_price']]
    return new_df

In [33]:
food = change_price_to_float(food)

In [ ]:
"""
3., Készíts egy függvényt, ami megmondja, hogy hány megfigyelés található az adathalmazban

függvény név: number_of_observations
bemenet: input_df
kimeneti típus: int
"""

In [34]:
def number_of_observations(input_df):
    new_df = input_df.copy()
    return new_df.shape[0]

In [35]:
number_of_observations(food)

4622

In [ ]:
"""
4., Készíts egy függvényt, ami visszadja a termék neveket és az áraikat.

függvény név: items_and_prices
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [39]:
def items_and_prices(input_df):
    new_df = input_df.copy()
    return new_df[['item_name','item_price']]

In [41]:
food_item_and_name = items_and_prices(food)

In [ ]:
"""
5., Készíts egy függvényt, ami sorba rendezi az termékeket az áruk alapján, csökkenő sorrendben. Használd az előző  függvény eredményét.

függvény név: sorted_by_price
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [46]:
def sorted_by_price(input_df):
    new_df = input_df.copy()
    return new_df.sort_values("item_price", ascending=False)

In [47]:
sorted_by_price(food_item_and_name)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

In [ ]:
"""
6., Készíts egy függvényt, ami visszaadja az átlagos árat.

függvény név: avg_price
bemenet: input_df
kimeneti típus: float

"""

In [49]:
def avg_price(input_df):
    new_df = input_df.copy()
    return new_df['item_price'].mean()

In [50]:
avg_price(food)

7.464335785374297

In [ ]:
"""
7., Készíts egy függvényt, ami visszadja azokat az egyedi termékeket (név, feltét és ár szempontjából egyedi), amelyek ára 10 dollár felett van

függvény név: unique_items_over_ten_dollars
bement: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [52]:
def unique_items_over_ten_dollars(input_df):
    new_df = input_df.copy()
    new_df = new_df[new_df['item_price']>10]
    return new_df.drop_duplicates(subset=['item_name','item_price', 'choice_description'])

In [53]:
unique_items_over_ten_dollars(food)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [ ]:
"""
8., Készíts egy függvényt, ami visszaadja azon termékek neveit, amelyek neve 'S'-el kezdődik.

fv. neve: items_starting_with_s
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [62]:
def items_starting_with_s(input_df):
    new_df = input_df.copy()
    new_df = new_df[[x[0]=='S' for x in new_df['item_name']]]
    return new_df['item_name'].drop_duplicates()

In [63]:
items_starting_with_s(food)

6            Side of Chips
7            Steak Burrito
8         Steak Soft Tacos
54              Steak Bowl
92      Steak Crispy Tacos
281       Steak Salad Bowl
664            Steak Salad
1414                 Salad
Name: item_name, dtype: object

In [ ]:
"""
9. Készíts egy függvényt, ami visszaadja az első 3 oszlopot. Használd a tisztított.

fv. név: first_three_columns
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [ ]:
def first_three_columns(input_df):
    new_df = input_df.copy()
    return new_df.iloc[:,0:3]

In [ ]:
"""
10. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 2-on kívül. Használd a tisztított adatokat.

fv. név: every_column_except_last_two
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [65]:
food.iloc[:,0:-2]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
"""
11. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük.

fv. név: sliced_view
bemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep
return type: pandas.core.frame.DataFrame

"""

In [ ]:
def sliced_view(input_df, columns_to_keep, column_to_filter, rows_to_keep):
    new_df = input_df.copy()
    return new_df.loc[[x in rows_to_keep for x in new_df[column_to_filter]], columns_to_keep]

In [ ]:
"""
12. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. Használd a tisztított adatokat. A kvartilis oszlop értékeit az ár alapján határozza meg:

30 - : 'premium'
20 - 29.99: 'high-cost'
10 - 19.99: 'medium-cost
0 - 9.99: 'low-cost'

fv. név: generate_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [72]:
def generate_quartile(input_df):
    new_df = input_df.copy()
    new_df['Quartile'] = pd.cut(new_df['item_price'], bins=[0, 10, 20, 30,float('inf')], labels=['low-cost', 'medium-cost', 'high-cost', 'premium'])
    return new_df

In [68]:
pd.cut(food['item_price'], bins=[0, 10, 20, 30,float('inf')], labels=['low-cost', 'medium-cost', 'high-cost', 'premium'])

0          low-cost
1          low-cost
2          low-cost
3          low-cost
4       medium-cost
           ...
4617    medium-cost
4618    medium-cost
4619    medium-cost
4620       low-cost
4621       low-cost
Name: item_price, Length: 4622, dtype: category
Categories (4, object): ['low-cost' < 'medium-cost' < 'high-cost' < 'premium']

In [ ]:
"""
13., Készíts egy függvényt, ami minden kvartilis értékhez kiszámítja, az átlagos árat. Használd az előző feladat eredményét bemenetként.

fn név: average_price_in_quartiles
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [ ]:
def average_price_in_quartiles(input_df):
    new_df = input_df.copy()
    return new_df.groupby('Quartile')['item_price'].mean()

In [ ]:
"""
14., Készíts egy függvényt ami minden kvartilis esetén visszadja az árak minimális és maximális értékét, valamint az átlagát.

fv. név: minmaxmean_price_in_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame
"""

In [ ]:
def minmaxmean_price_in_quartile(input_df):
    new_df = input_df.copy()
    def mean(x):
        return sum(x)\len(x)
    return new_df.groupby('Quartile')['item_price'].agg([min, max, mean])

In [80]:
generate_quartile(food).groupby('Quartile')['item_price'].agg([min, max, mean])

               min    max  <lambda_0>
Quartile
low-cost      1.09   9.39    5.869593
medium-cost  10.50  18.50   11.853084
high-cost    21.96  27.75   23.181951
premium      32.94  44.25   36.031667

In [ ]:
"""
15. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (UniformDistribution 0,1 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_uniform_mean_trajectories
"""

In [ ]:
"""
16. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LogisticDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_logistic_mean_trajectories
"""

In [ ]:
"""
17. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LaplaceDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_laplace_mean_trajectories
"""

In [ ]:
"""
18. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (CauchyDistribution 2,4 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_cauchy_mean_trajectories
"""

In [ ]:
"""
19. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (ChiSquaredDistribution 3 paraméterrel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_chi2_mean_trajectories
"""